cluster: int

wazuh:
  tag: 4.14.1

secrets:
  authdPassword: "AuthPassword!"
  apiUsername: "wazuh-api"
  apiPassword: "ApiPass123!"
  indexerUsername: "admin"
  indexerPassword: "IndexerPass123!"
  indexerPasswordHash: "$2y$12$nd7ZKnw//XiA4TKS5xrno..RvrbVcFs0HqoJa0cRUCS2sx4plelHS"
  dashboardUsername: "dashboard-user"
  dashboardPassword: "DashboardPass123!"
  dashboardPasswordHash: "$2y$12$GUMWuF7.qn3eMuk3ROh6fOBVpKPdlAHfvrQ6SsGYlIl20j2yHmDXS"
  clusterKey: "c98b6ha9b6169zc5f67rae55ae4z5647"

indexer:
  replicas: 1
  image:
    pullPolicy: ""
  storage:
    storageClass: "default"
    size: 20Gi