cluster: int

wazuh:
  tag: 4.14.0

secrets:
  authdPassword: "AuthPassword!"
  apiUsername: "wazuh-api"
  apiPassword: "ApiPass123!"
  indexerUsername: "admin"
  indexerPassword: "IndexerPass123!"
  dashboardUsername: "admin"
  dashboardPassword: "DashboardPass123!"
  clusterKey: "c98b6ha9b6169zc5f67rae55ae4z5647"
