apiVersion: v1
kind: Service
metadata:
  name: wazuh-cluster
  namespace: {{ .Release.Namespace }}
spec:
  clusterIP: None
  selector:
    app: wazuh-manager
  ports:
    - name: cluster
      port: 1516
      targetPort: 1516