apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-auth
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    component: auth
type: Opaque
stringData:
  authd.pass: {{ .Values.secrets.authdPassword | quote }}
