apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-workers
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-manager
    component: worker
  {{- with .Values.manager.workers.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.manager.workers.service.type | default "ClusterIP" }}
  selector:
    app: {{ .Release.Name }}-manager
    node-type: worker
  ports:
    - name: agents-events
      port: 1514
      targetPort: 1514
      protocol: TCP