apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ .Release.Name }}-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Release.Name }}-rootca-certificate
  namespace: {{ .Release.Namespace }}
spec:
  secretName: {{ .Release.Name }}-rootca-certificate
  commonName: "{{ .Release.Name }}-rootca"
  isCA: true
  issuerRef:
    name: {{ .Release.Name }}-issuer
    kind: Issuer
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ .Release.Name }}-rootca-issuer
spec:
  ca:
    secretName: {{ .Release.Name }}-rootca-certificate
---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Release.Name }}-admin
spec:
  secretName: {{ .Release.Name }}-admin
  duration: 2160h
  renewBefore: 360h
  commonName: {{ .Release.Name }}-admin.{{ .Release.Namespace }}.svc
  dnsNames:
  - {{ .Release.Name }}-indexer
  - {{ .Release.Name }}-indexer.{{ .Release.Namespace }}.svc
  - {{ .Release.Name }}-indexer.{{ .Release.Namespace }}.svc.cluster.local
  - {{ .Release.Name }}-admin.{{ .Release.Namespace }}.svc
  - {{ .Release.Name }}-admin.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    name: {{ .Release.Name }}-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Release.Name }}-indexer
spec:
  secretName: {{ .Release.Name }}-indexer
  duration: 2160h
  renewBefore: 360h
  commonName: {{ .Release.Name }}-indexer.{{ .Release.Namespace }}.svc
  dnsNames:
  - {{ .Release.Name }}-indexer
  - {{ .Release.Name }}-indexer.{{ .Release.Namespace }}.svc
  - {{ .Release.Name }}-indexer.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    name: {{ .Release.Name }}-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wazuh-manager
spec:
  secretName: {{ .Release.Name }}-manager
  duration: 2160h
  renewBefore: 360h
  commonName: {{ .Release.Name }}-manager.{{ .Release.Namespace }}.svc
  dnsNames:
  - {{ .Release.Name }}-manager.{{ .Release.Namespace }}.svc
  - {{ .Release.Name }}-manager.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    name: {{ .Release.Name }}-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name:  wazuh-worker
spec:
  secretName: {{ .Release.Name }}-worker
  duration: 2160h
  renewBefore: 360h
  commonName:  {{ .Release.Name }}-worker.{{ .Release.Namespace }}.svc
  dnsNames:
  - {{ .Release.Name }}-worker.{{ .Release.Namespace }}.svc
  - {{ .Release.Name }}-worker.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    name: {{ .Release.Name }}-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name:  {{ .Release.Name }}-dashboard
spec:
  secretName:  {{ .Release.Name }}-dashboard
  duration: 2160h
  renewBefore: 360h
  commonName:  {{ .Release.Name }}-dashboard.{{ .Release.Namespace }}.svc
  dnsNames:
  - {{ .Release.Name }}-dashboard.{{ .Release.Namespace }}.svc
  - {{ .Release.Name }}-dashboard.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    name: {{ .Release.Name }}-rootca-issuer
    kind: Issuer 