apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: wazuh-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wazuh-rootca-certificate
  namespace: {{ .Release.Namespace }}
spec:
  secretName: wazuh-rootca-certificate
  commonName: "wazuh-rootca"
  isCA: true
  issuerRef:
    name: wazuh-issuer
    kind: Issuer
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: wazuh-rootca-issuer
spec:
  ca:
    secretName: wazuh-rootca-certificate
---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wazuh-admin
spec:
  secretName: wazuh-admin
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  commonName: wazuh-admin.wazuh.svc
  dnsNames:
  - wazuh-indexer
  - wazuh-indexer.wazuh.svc
  - wazuh-indexer.wazuh.svc.cluster.local
  - wazuh-admin.wazuh.svc
  - wazuh-admin.wazuh.svc.cluster.local
  issuerRef:
    name: wazuh-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wazuh-indexer
spec:
  secretName: wazuh-indexer
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  commonName: wazuh-indexer.wazuh.svc
  dnsNames:
  - wazuh-indexer
  - wazuh-indexer.wazuh.svc
  - wazuh-indexer.wazuh.svc.cluster.local
  issuerRef:
    name: wazuh-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wazuh-manager
spec:
  secretName: wazuh-manager
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  commonName: wazuh-manager.wazuh.svc
  dnsNames:
  - wazuh-manager.wazuh.svc
  - wazuh-manager.wazuh.svc.cluster.local
  issuerRef:
    name: wazuh-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name:  wazuh-worker
spec:
  secretName:  wazuh-worker
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  commonName:  wazuh-worker.wazuh.svc
  dnsNames:
  - wazuh-worker.wazuh.svc
  - wazuh-worker.wazuh.svc.cluster.local
  issuerRef:
    name: wazuh-rootca-issuer
    kind: Issuer 
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name:  wazuh-dashboard
spec:
  secretName:  wazuh-dashboard
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  commonName:  wazuh-dashboard.wazuh.svc
  dnsNames:
  - wazuh-dashboard.wazuh.svc
  - wazuh-dashboard.wazuh.svc.cluster.local
  issuerRef:
    name: wazuh-rootca-issuer
    kind: Issuer 